.Footer {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    padding: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.1rem;

}
