@import "~bootstrap/scss/bootstrap";

body {
    background-image: url(assets/images/login.jpg);       
}

.App-sidebar {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }